body {
  min-height: 2000px;
}
#footer { 
/*
  position: fixed;
  bottom: 0px;
*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  transition: 0.15s;
  border:1px solid #e7e7e7;
}
.audiowg-icon {
  display:inline-block;
  float:left; 
  width:55px;
  height:50px;
  padding-right:40px;
  background-image: url("../images/audioWG_icon.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 50px 50px;
}
.navbar-static-top {
  margin-bottom: 19px;
}
#g-navi { 
  position: fixed;
  width:100%;
  top:0px;
  transition: 0.15s;
}
.footericon {
  position: fixed;
  bottom: 10px; 
  right: 10px; 
  z-index: 1;
} 
h2.h2-top-title{ 
  margin-top:10px;
}
h2.app-title{ 
  margin:0px 0px 10px 0px;
}
.top-title { 
  font-size: 18px;
  font-weight: 200;
  padding:5px 20px;
  border:1px solid rgba(230, 230, 230, 1);
  background-color: rgba(250, 250, 250, 1);
  border-radius:6px;
  margin: 0px 5px;
}
.divider-a {
  padding: 0px;
}
div.demo-image { 
  display:inline-block;
  float:left;
  margin:0px 0px 10px 10px;
  padding:5px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
  border-radius:3px;
  /* border:1px solid #123456; */
}
div.demo-description {
  margin-left:10px;
  padding:5px 20px;
  font-size: 18px;
  font-weight: 200;
  /* border:1px solid #000; */
}
div.bottom-menu {
  margin-bottom:20px;
  width:50px;
  padding: 7px 10px 0px 12px;
  border:1px solid rgba(200, 200, 200, 0.5);
  background-color:rgba(250, 250, 250, 0.3);
  border-radius:5px;
  transition: 0.15s;
  opacity:0;
}
div.b-link-icon {
  display:block;
  font-size:25px;
  margin-top:10px;
}
div.midi-icon {
  display:block;
  float:left;
  width:16px;
  height:16px;
  background-image: url("../images/midi_icon_01.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 16px 32px;
}
div.midi-icon-text{
  display:table-cell;
}
div.midi-icon02 {
  display:inline-block;
  width:25px;
  height:25px;
  background-image: url("../images/midi_icon_02.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 25px 50px;
}
div.midi-icon-h2 {
  display:inline-block;
  width:30px;
  height:30px;
  background-image: url("../images/midi_icon_01.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 30px 60px;
}
div.row {
  margin-left:15px;
}